[submodule "modules/MOTDPE"]
	path = modules/MOTDPE
	url = https://github.com/NilBridge/MOTDPE.git
[submodule "modules/CronJob"]
	path = modules/CronJob
	url = https://github.com/246859/CronJob.git
[submodule "modules/bilibiliSearch"]
	path = modules/bilibiliSearch
	url = https://github.com/NilBridge/bilibiliSearch.git
[submodule "modules/BackupHelper"]
	path = modules/BackupHelper
	url = https://github.com/NilBridge/BackupHelper.git
[submodule "modules/Nil-net-api"]
	path = modules/Nil-net-api
	url = https://github.com/NilBridge/Nil-net-api.git
[submodule "modules/module-template"]
	path = modules/module-template
	url = https://github.com/NilBridge/Module-template.git
[submodule "modules/MagicRecall"]
	path = modules/MagicRecall
	url = https://github.com/mrmagic2020/MagicRecall.git
[submodule "modules/MagicHitokoto"]
	path = modules/MagicHitokoto
	url = https://github.com/mrmagic2020/MagicHitokoto.git
[submodule "modules/readWorldWith60s"]
	path = modules/readWorldWith60s
	url = https://github.com/phj233/readWorldWith60s.git
